.navbar-expand-lg {
    position: sticky;
    top: 0;
    width: 100%;
}
.greeting {
    background-color: lightblue;
    padding: 2%;
    padding-left: 4%;
}
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: silver;
    padding: 0.5%;
}
.viewFullImage {
    display: block;
    text-align: right;
    padding-right: 10%;
    text-decoration: none;
    margin-bottom: 1%;
}
.viewFullImage:hover {
    color: blue;
}

/* Footer text */
.toTop {
    color:black;
    display: block;
    text-align: center;
    text-decoration: none;
}
.toTop:hover {
    color: red;
}

.MyMasterclasses {
    background-color: lightgoldenrodyellow;
    padding-bottom: 2%;
}
h2 {
    padding: 1.5%;
}
h3 {
    padding-top: 5%;
}
.masterclassImage {
    border-radius: 3%;
    width: 25vw;
}

/* Text from "More info" */
p {
    font-size: 80%;
    padding-top: 1%;
}
.profileUser {
    background-color:aquamarine;
    padding: 1%;
    padding-left: 2%;
}
#profileInfo {
    background-color: rgb(180, 255, 220);
    padding-bottom: 1%;
}
main {
    padding-bottom: 2%;
}
body {
    background-color: rgb(255, 220, 220);
}
h5 {
    padding-left: 1.5%;
}
.moreDetails {
    margin-left: 2%;
}
.userOpinion {
    display: inline-block;
}
.btn-info, .btn-warning {
    margin-top: 1%;
}
.btn-secondary, .btn-success {
    margin-left: 1%;
}
.review {
    font-size: 100%;
}
.masterclassDetails {
    background-color: rgb(255, 170, 170);
    width: 45%;
    margin-left: 5%;
    margin-top: 1%;
    padding: 2%;
    border-radius: 10%;
}
@media screen and (max-width: 992px) {
    .greeting {
        padding: 6%;
        padding-bottom: 3%;
    }
    footer {
        display: inline-block;
        height: 8vh;
        width: 100%;
    }
    .viewFullImage {
        padding-right: 18%;
    }
    .toTop {
        font-size: 120%;
        padding: 1%;
    }
    h1 {
        font-size: 300%;
    }
    h2 {
        padding: 4%;
        font-size: 200%;
    }
    h3 {
        padding-top: 15%;
        font-size: 180%;
    }
    .masterclassImage {
        width: 60vw;
    }
    details {
        margin-bottom: 1%;
    }
    .profileUser {
        padding: 3%;
    }
    #profileInfo {
        padding-bottom: 5%;
    }
    h5 {
        padding-left: 4%;
    }
    .moreDetails, .btn-secondary, .btn-success{
        margin-left: 5%;
    }
    .btn-info, .btn-warning {
        margin-bottom: 3%;
    }
    .lastButton {
        margin-bottom: 10%;
    }
    .masterclassDetails {
        background-color: rgb(255, 170, 170);
        width: 80%;
        margin: 10%;
        margin-top: 1%;
        padding: 2%;
        border-radius:5%;
    }
}